@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background:
    radial-gradient(circle at top, rgba(34, 211, 238, 0.15), transparent 30%),
    #020617;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}